.AddingProduct{
    display:block;
   
    width: 100%;
    height: 500px;
    background-color: #bd8cbf;
    .ProductAdd{
        color:white;
        width: 30%;
        height: auto;
        background-color: #440e62;
        border-radius: 30px;
        margin:auto;
        padding: 20px;
        text-align:center;
        position:relative;
        margin:auto;
        margin-top:110px;
            h1{
                margin-bottom: 0px;
            }
            p{  margin-top: 5px;
                margin-bottom: 40px;
                font-size: 10px;
            }
            .donuts{
                width:70%;
                margin:auto;
                margin-bottom:30px;
                p{  
                    margin-left: 10px;
                    margin-bottom: 10px;
                    text-align: left;
                    font-size: 20px; 
                }
            }
            button{
                width: 70%;
                background-color:#f26d7d;padding: 10px 0px 10px 0px;
                color: white;
                border: none;
                font-size: 20px;
                border-radius: 10px ;
            }
            .name__input, .price__input{
                width:70%;
                margin:auto;

                label{display:none;}

                input{
                    width:100%;
                    box-sizing: border-box;
                    margin-bottom: 20px;
                    padding: 10px 10px 10px 10px ;
                    font-size: 20px;
                    border-radius: 10px;
                    background-color: #ebebeb;
                    border: 1px solid white;
                }
                
            }
        .comestible__input{
            width: 70%;
            font-size: 20px;
            margin-bottom: 20px;
            margin:auto;
            label{float: left;
            margin-left: 10px;
            margin-bottom: 20px;}
        }

    }
}