.donuts__list{
    width: 60%;
    margin: auto;
    height: auto;
    margin-top: 300px;
    display: block;
    .donuts__list__container{
        
        display:flex;
        flex-direction: row;
      
        width:100%;
        margin:auto;
        background-color: white;
        border-radius: 30px;
        box-shadow: 0px 0px 20px rgba(134, 134, 134, 0.158);
        margin-bottom: 50px;
        .donuts__image{
            display:flex;
            margin-left: 20px;
            order:1;
            img{
                
                width:100px;
                height: 100px;
                padding: 10px 0px 0px 0px ;
            }
        }
        .donuts__specs{
            width:83%;
            display: flex;
            order:2;
            .donuts__name{
                margin-left: 30px;
                h1
                {
                    font-weight: 400;
                    font-size:20px;
                    margin-top: 30px;
                    margin-bottom: 10px;
                }
                p{
                    font-size: 15px;
                    margin-top: 0px;
                }
            }
            .donuts__edit__section{
                width: 70%;
                display:flex;
                padding:30px 0px 0px 185px;
                flex-direction: row;
                justify-content: space-around;
                margin-left: 2rem;
                box-sizing: border-box;


                .donuts__price{
                    padding: 10px 10px 30px 10px;
                    order: 1;
                    display:flex;
                    font-size: 29px;
                    justify-content: center;
                    color: #004a80;
                   
                   .subsection{
                       float:left;
                   }
                   p{   
                    
                       float:left;
                       margin:0;
                   }
                   img{margin-left: 10px;}

                }
                .edit__section{
                    display: flex;
                    order:2;
                    img{
                        width: 40px;
                        height:auto;
                    }
                }
                .delete__section{
                    display: flex;
                    order:3;
                    img{
                        width: 40px;
                        height:auto;
                    }
                }
            }
        }
    }

}