@media (min-width: 1191px){
body{
    font-family: Arial;
    margin:0;
    background-color: #f7f6f6;
}

.container{
    margin: 0;
    width: 100%;
    height: 100%;
    top:0;
}
.NavBar{
    top:0;
    margin-top:0;
    width:100%;
    background-color: #fbaf5d;
    height: 70px;
    box-shadow: 0px 0px 30px rgba(32, 32, 32, 0.822);
}
.NavBar__logo{
    margin:0;
    float:left;
    display: flex;
    width: 39%;
    font-family: Arial;
    font-size: 35px;
    color: white;
    font-weight: bold;
    sup{
        font-size: 10px;
       padding: 5px;
       letter-spacing:0;
    }
    p{
       margin-top: 12px;
        margin-left: 20%;
        letter-spacing: -2px;
    }

} 
.NavBar__notification{
    width:49%;
    margin:0;
   float: right;
   .NavBar__notification__icon{
       float: right;
       margin-right: 20%;
     img{
         width: 30px;
         height: auto;
         margin-top: 20px ;
     }
   }
}


.Auth{
   
    display:flex;
    width: 65%;
    
    margin: auto;
    margin-top: 10%;
    .Login{
       display: flex;
        text-align: center;
        display:flex;
        order:1;
        width: 49%;
        .cc-main{
            width:100%;
            padding: 0px 20px 0px 20px;
        }
        label{display:none;}
        .email{
             margin-bottom:30px;
             input:-webkit-autofill{
                background-color: red !important;
            }
            input{
                box-sizing: border-box;
                width:100%;
                padding:15px 0px 15px 10px;
                border-radius:10px;
                background-color:#ebebeb;
                border: 1px solid white;
            }
        }
        .password{
            margin-bottom:20px;
            input{
                box-sizing: border-box;
                width:100%;
                padding:15px 0px 15px 10px;
                border-radius:10px;
                background-color:#ebebeb !important;
                border: 1px solid white;
            }
        }
        .login__section{
            
            width:100%;
            height:53px;;
            background-color: #8781bd;
            border-radius: 10px;
            text-align:center;
            .prop__section{  text-align:center;
                display:flex;
                color:white;
                font-size: 20px;
                margin:auto;
                order:1;
                width:63%;
                float: left;
                margin:auto;
                p{
                    font-size: 20px;
                    margin:auto;
                    padding: 15px 0px 0px 0px 
                }
            }
        
                .login__button{background-color: #00bff3;
                text-align:center;
                margin-left:12px;
                float:right;
                color:white;
                border-radius: 10px; 
                padding: 15px;
                font-size: 20px;
                border:none;
            }
            
    }
       
    }
    .Register{
        display:flex;
        margin:auto;
        display:flex;
        order:2;
        width:49%;
       
        .cc-main{
            width:100%;
            padding: 0px 20px 0px 20px;
        }
        label{display:none;}
        .email{
            margin-bottom:30px;
            input{
                border: 1px solid white;
                box-sizing: border-box;
                width:100%;
                padding:15px 0px 15px 10px;
                border-radius:10px;
                background-color:#ebebeb;
            }
        }
        .password{
            margin-bottom:30px;
            input{
                border: 1px solid white;
                box-sizing: border-box;
                width:100%;
                padding:15px 0px 15px 10px;
                border-radius:10px;
                background-color:#ebebeb;
            }
        }
        .cpassword{
            margin-bottom:30px;
            input{
                border: 1px solid white;
                box-sizing: border-box;
                width:100%;
                padding:15px 0px 15px 10px;
                border-radius:10px;
                background-color:#ebebeb;
            }
        }
        button{
            border: 1px solid white;
            color: white;
            background-color: #00bff3;
            text-align:center;
            width:100%;
            border-radius: 10px; 
            padding:15px 0px 15px 10px;
            font-size: 20px;
        }
    }
.title__container{
    font-size: 30px;
    color: white;
    font-weight: bold;
    float: left;
    sup{
        font-size: 20px;
        color: grey;
        margin-left: 10px;
        
    }
}
}

}