.pub__container{
    margin-top: 15%;
    width: 100%;
    .text__container{
        width: 400px;
        height:auto;
        margin-left: 20px;
        h1{
            color:#fec342;
        }
    }

}

.articles{
    width: 100%;
    .articles__container{
        width:30%;
        height:300px;}
}