.pub__container{
    
    margin-top: 15%;
    width: 100%;
    background-image: url('./images/Rectangle.png');
    height: 600px;
    background-position: center;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .text__container{
        width: 400px;
        justify-content: center;
        height:auto;
        margin-left: 90px;
        h1{
            color:#fec342;
        }
    }
    img{
        margin-top: 100px;
    }

}
.separator{width: 100%;
height: 100px;
background-color:#bd8cbf; }
.articles{
    width: 100%;
    display:flex;
    justify-content: center;
    h1{
        color: #fec342;
        font-size: 20px;
        margin-bottom: 20px;
        
    }
    .article{
        justify-content: center;
        padding: 20px;
        width: 33.3%;
        height: 20rem;
        box-sizing: border-box;
        overflow: hidden;
        
        &.first{
           float: left;
            background-color: #ebebeb;
        }
        &.second{
            background-color: #ebeaea;
            float:left;
            h1{
              
                margin-bottom: 90px;
                }
            }
        &.third{
            background-color: #e7e5e5;
            float: left;
            h1{
              
                margin-bottom: 70px;}
        }
    }
}
